{% extends 'base.html.twig' %}

{% block body %}
<div class="container bg-light rounded">
		<div class="header-trick pt-5">
			<div class="default-img-trick" style="background-image:url('{{asset("images/default-img.jpg")}}');">
				<div class="overlay">
					<div class="container">
						<div class="trick-buttons mt-2">
                            {# replace update/delete button by file input #}
							<div class="mb-3">                                
                                <input class="form-control" type="file" id="formFile">
                            </div>
						</div>
						<div class="trick-name input-group-lg">
							<input type="text" class="form-control text-uppercase" placeholder="Trick Name">
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="content-trick mt-4">
            {# --------------------Gallery links--------------------- #}
            <section id="gallery">
                <div class="row  justify-content-center">
                    <div id="new-media">
                        {# Media Link #}
                        <div class="col-3 mx-4">
                            <img src="{{asset('images/default-img.jpg')}}" class="w-100 rounded my-2"/>                            
                            <div class="modification text-center mb-2">                                
                                <a href="#newcard" class="btn btn-info btn-sm mx-2" data-toggle="modal" data-target="#newcard"><i class="bi bi-pencil-fill"></i></a>                            
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="newcard" tabindex="-1" role="dialog" aria-labelledby="newcard" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">var twig</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Chemin du fichier</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {# responsive section  #}
            <section id="see-media">
                <div class="button-load-more text-center mb-5">
                    <a href="" class="btn btn-sm rounded text-light bg-dark px-5 py-3" >See media</a>
                </div>
            </section>
            <section class="row mx-auto col-8 pb-5">
                <div class="form-floating my-4">
                    <textarea class="form-control" placeholder="Description de la figure" id="textAreaDescription" style="height: 100px"></textarea>
                    <label for="textAreaDescription">Description de la figure</label>
                </div>                   
                <div class="trick-group">
                    <div class="form-floating col-6">
                        <select class="form-select" id="groupSelect" aria-label="group trick select">
                            <option selected>Open select group trick</option>
                            <option value="1">group 1</option>
                            <option value="2">group 2</option>
                            <option value="3">group 3</option>
                        </select>
                        <label for="groupSelect">Select a trick group</label>
                    </div>
                    <div class="my-3">
                        <a href="#" class="btn btn-success btn-sm mx-2">Save</a>                        
                    </div>
                </div>
            </section>                    
        </div>       
</div>
{% endblock %}