{% extends 'base.html.twig' %}

{% block title %}Hello TrickPageController!{% endblock %}

{% block body %}
<div class="container bg-light rounded">    
        <div>
            <img class="default-img-trick img-fluid mt-5" src="{{asset('images/default-img.jpg')}}" alt="trick picture" style="width:50%;">
        </div>
        
        <div class="content-trick">
            <div class="d-flex justify-content-center text-center">
                <h1 class="mx-auto my-4 text-uppercase">Snowboarding is the way to be</h1>                                     
            </div>
            <div class="row mb-4 justify-content-between">
                <div class="col-lg-3 col-md-8 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="{{asset('images/default-img.jpg')}}" class="w-100"/>
                    </div> 
                </div>
                <div class="col-lg-3 col-md-8 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="{{asset('images/default-img.jpg')}}" class="w-100"/>
                    </div> 
                </div>
                <div class="col-lg-3 col-md-8 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="{{asset('images/default-img.jpg')}}" class="w-100"/>
                    </div> 
                </div>                
            </div>

            <div class="content mb-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam itaque impedit et, adipisci animi beatae asperiores quaerat obcaecati architecto eligendi veritatis! Eligendi dicta odio ipsa obcaecati. Excepturi quia itaque facilis.
                Dicta soluta molestias autem officia error eum rerum, id amet! Placeat ratione quae voluptates nemo repellendus et cupiditate eaque, consequuntur earum maxime distinctio molestias laborum tempora, dolorum velit assumenda amet?
                Natus temporibus corporis nesciunt accusamus at esse harum possimus quisquam eum itaque tenetur dolorum ad iure impedit fugiat, magni quibusdam? Dicta quidem ullam cumque iste exercitationem odio saepe incidunt delectus.
            </div>
            <div class="d-flex justify-content-evenly mb-4">
                <h2><span class="badge bg-secondary ">Flip</span></h2>
                <div class="badge text-bg-dark"><h4>Création le : 2022-12-01 16:02:23</h4></div>
            </div>
        </div>    
    
<!--Comment section -->
    <section class="mb-5 pb-2">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                <!-- Comment with nested comments-->
                <div class="d-flex mb-4">
                    <!-- Parent comment-->
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                    <div class="ms-3">
                        <div class="fw-bold">Commenter Name</div>
                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                        <!-- Child comment 1-->
                        <div class="d-flex mt-4">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                            </div>
                        </div>
                        <!-- Child comment 2-->
                        <div class="d-flex mt-4">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                When you put money directly to a problem, it makes a good headline.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single comment-->
                <div class="d-flex">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                    <div class="ms-3">
                        <div class="fw-bold">Commenter Name</div>
                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
