{% extends 'base.html.twig' %}

{% block body %}
	<div class="container bg-light rounded">

		{# Include Hero & Featured Image #}
		{% include 'trickpage/trickTemplate/_header.html.twig'with {'edit': false }  %}
		
		<div class="content-trick mt-4">
			{# --------------------Gallery links--------------------- #}		
            <section id="gallery">
                <div class="row  justify-content-center">
					{# Gallery of Media #}
					{% include 'trickpage/trickTemplate/_gallery.html.twig' with {'update': false }  %}				
				</div>
            </section>
			
			{# Modal pour afficher les images #}
			{{ include("trickpage/_modal.html.twig")}}

            {# On affiche le bouton media qui permet de load les media en responsive #}
            <section id="see-media">
                <div class="button-load-more text-center mb-5">
                    <a href="" class="btn btn-sm rounded text-light bg-dark px-5 py-3" >See media</a>
                </div>
            </section>
            {# --------------------------------END  GALLERY  ----------------------------------------- #}

			{# Section Contenu Trick && Button #}
            <section class="row mx-auto col-10 pb-5">
                {# Description Field && trick group #}
                {% include 'trickpage/trickTemplate/_content.html.twig' with {'page': 'show' } %}                
            </section>
		</div>

		<!--Comment section -->
		<section class="mb-5 pb-2">
			{% include 'comment/comment_trick.html.twig' %}	
		</section>
	</div>
{% endblock %}
