{% extends 'base.html.twig' %}

{% block body %}
<div class="container bg-light rounded">
    {{form_start(trickform)}}
		{% include 'trickpage/_header.html.twig'with {'edit': true }  %}
        {# --------------------Gallery links--------------------- #}
        <div class="content-trick mt-4">		
            <section id="gallery">
                <div class="row  justify-content-center">
                    {% include 'trickpage/gallery.html.twig'with {'update': true }  %}                   
                </div>
            </section>
            {# responsive section  #}
            <section id="see-media">
                <div class="button-load-more text-center mb-5">
                    <a href="" class="btn btn-sm rounded text-light bg-dark px-5 py-3" >See media</a>
                </div>
            </section>
            <section class="row mx-auto col-8 pb-5">
                <div class="form-floating my-4">                    
                    {{form_row(trickform.content, {'label' : false,'attr':{'class' :  'form-control' }})}}
                </div>                   
                <div class="trick-group">
                    <div class="form-floating col-6">
                        {{ form_row(trickform.groupTrick,{'label' : false,'attr':{'class' :  'form-select'} })}}
                </div>
                <div class="my-3">
                    <a href="#" class="btn btn-success btn-sm mx-2">Save</a>
                    <a href="#" class="btn btn-danger btn-sm mx-2">Delete</a>
                </div>                
            </section>                 
        </div> 
    {{form_end(trickform)}}          
</div>

{% endblock %}