/* ----------------------NAVBAR-------------------------------- */
.navbar {
  align-items: center;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-dark .navbar-toggler-icon {
  color: aliceblue;
}

footer {
  background-color: #1a1717;
  color: aliceblue !important;
}

.nav-link {
  color: aliceblue !important;
}

/*---------------------------- HOMEPAGE ------------------------------*/

.flash-homepage {
  
  position: absolute;
  z-index: 1000;
  min-width: 100%;
  border-radius: 0;
}

#mainNav {
  background-color: #3e3e3e;
}

.card-homepage {
  display:none;
  padding-bottom: 0.3rem;
}


.masthead {
  position: relative;
  width: 100%;
  height: 94vh;
  min-height: 35rem;
  padding: 0;
  background: linear-gradient(to bottom, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 70%) 75%, #000 100%), url("../images/homepage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#more_content {
  position: absolute;
  bottom: 1rem;
}

.card-img-top{
  height: 150px;
  width: 100%;
  cursor: pointer;
}

.card {
  box-shadow:
    0 2px 0 rgb(82 86 92 / 6.2%),
    0 4px 8px rgb(61 64 68 / 12%),
    0 10px 10px #30363d07,
    0 7px 70px rgb(90 97 105 / 10%);
  transition: transform 0.2s ease;
  border-width: 0;
}

/* -----------------------------CSS MODAL----------------------- */
img {
  max-width: 100%;
}

.gallery {
  background-color: #dbddf1;
  padding: 80px 0;
}

.gallery img {
  background-color: #fff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}

#gallery .modal-img {
  width: 100%;
}

/* ----------------------------------END CSS MODAL -------------------- */

.img-card > h4,
.card-title > a {
  border-radius: 20px;
}

.img-card > img {
  border-radius: 5px 5px 0 0;
}

.card-homepage:hover {
  transform: scale(1.1);
}

i {
  font-size: 20px;
}

/* -------------------------TRICKPAGE------------------------- */


#navicon {
  visibility: hidden;
  display: none;
}

.default-img-trick {
  aspect-ratio: 3/1;
  width: 100%;
  height: auto;
  background-size: cover;
  position: relative;
}

.trick-buttons {
  position: absolute;
  right: 5%;
  top: 10%;
  z-index: 1;
}

.trick-name {
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 1;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 0%);
  background: linear-gradient(to bottom, rgb(0 0 0 / 4.4%) 30%, rgb(0 0 0 / 46%) 75%, #000 100%);
}

.trick-media-card {
  transition: transform 0.2s;
}

.trick-media-card > img {
  height: 150px;
  width: 100%;
}

.trick-group,.trick-content, .trick-comment {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;  
}
.gallery-card {
  display: flex;
  flex-wrap: wrap;
}

.card-body .comment {
  display:none;  
}

/* SIGN PAGE */
.form-container {
  height: 82vh;
}

#already-account,
#register {
  visibility: hidden;
  display: none;
}

/************** MEDIA ***********/

@media only screen and (max-width: 992px) {
  /* HOMEPAGE */

  /* trick card */
  .card-img-top {
    height: auto;
  }

  /* TrickPage bouton   */
  #see-media {
    visibility: visible;
    display: block;
  }  

  .trick-name {    
    left: 10%;
  }
  /* GALLERY TRICKPAGE AND NAVBAR */
 
  #navmenutext {
    visibility: hidden;
    display: none;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-nav > li > a > i {
    font-size: 2rem;
  }

  #navicon {
    visibility: visible;
    display: block;
  }

  #already-account,
  #register {
    visibility: visible;
    display: block;
  }

  #collapseExample >div {
    flex-direction: column;
  }

  .gallery-card {
    display: block;
    align-items: center;
  }

  .video { 
    
    min-height:300px;    
  }

  /* FOOTER */
  footer {
    visibility: hidden;
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  /* HOMEPAGE */

  /* trick card */
  #images {
    flex-direction: column;
    width: 100%;
 }

  .card-img-top {
    height: 250px;
  }

  h4 {
    font-size: 1.5rem;
  }

  i {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 20px;
  }

  .form-container {
    height: 100vh;
  }

  .trick-name {
    top: unset;
    left: 20%;    
    bottom: 5%;
  }

  .default-img-trick {
    aspect-ratio: 2/1;
  }

  .trick-group {
    flex-wrap: wrap;
  }

  .trick-content,.trick-comment  {
    flex-direction: column;    
  }

  .trick-comment > a {
    margin: 1rem;    
  }
}

@media only screen and (max-width: 503px) {
  div.card-title h4 {
    font-size: 2rem;
  }

  div.modification > a > i {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 30px;
  }  

  .default-img-trick {
    aspect-ratio: 1/1;
  }  
  
  .trick-name > h1 {
    text-transform: lowercase;
  }

  .btn-sm {
    font-size: x-large;
  }

}
