{% extends 'base.html.twig' %}

{% block body %}
    <div class="container form-container">
        <div class="row my-5">				
            <div class="card cascading-right col-6 mx-auto text-center border">						
                <!--Gestion des erreurs -->							
                {# {% if error != empty %}<div class="alert alert-danger">{{ error }}</div>{% endif %} #}
                <!--END Gestion des erreurs -->
                <h2 class="fw-bold my-5">Forgot Password</h2>
                <form action="" method="post">								
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="Username-forgotpassword" name="Username" class="form-control" required/>
                        <label class="form-label" for="Username">Username</label>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-2">
                        Ask for Reset
                    </button>							
                </form>						
            </div>			
        </div>
    </div>

{% endblock %}