        <footer class="d-flex flex-wrap justify-content-lg-around align-items-center py-3 mT-4">
            <p class="col-md-4 mb-0">© 2022 SnowTricks, Corp</p>            

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Tricks</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Sign-in</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Sign-up</a></li>            
            </ul>
        </footer>
    </body>
</html>