{# Element form to get Image file to Upload/modify and Remove button #}
{{ form_row(form.file) }}
<div class="form-group">
    <button type="button" class="btn btn-danger btn-remove">Remove</button>
</div>